<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" align="center">Synthetic Measurement Generator</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <label class="sr-only" for="longitude">Base position, longitude in degrees</label>
            <md-input-container class="col-sm-3">
                <input mdInput [(ngModel)]="longitude" id="longitude" name="longitude" placeholder="Longitude in degrees" required />
            </md-input-container>
            <label class="sr-only" for="latitude">Base position, latitude in degrees</label>
            <md-input-container class="col-sm-offset-1 col-sm-3">
                <input mdInput [(ngModel)]="latitude" id="latitude" name="latitude" placeholder="Latitude in degrees" required />
            </md-input-container>
            <label class="sr-only" for="altitude">Base position, altitude in meters</label>
            <md-input-container class="col-sm-offset-1 col-sm-3">
                <input mdInput [(ngModel)]="altitude" id="altitude" name="altitude" placeholder="Altitude in meters" required />
            </md-input-container>
        </div>
    </div>
</div>