# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Angular 2

#node install
ouranos-ihm/temp

# compiled output
ouranos-ihm/src/main/ngapp/dist
ouranos-ihm/src/main/ngapp/tmp

# dependencies
ouranos-ihm/src/main/ngapp/node_modules
ouranos-ihm/src/main/ngapp/bower_components

# misc
ouranos-ihm/src/main/ngapp/.sass-cache
ouranos-ihm/src/main/ngapp/connect.lock
ouranos-ihm/src/main/ngapp/coverage/*
ouranos-ihm/src/main/ngapp/libpeerconnection.log
ouranos-ihm/src/main/ngapp/npm-debug.log
ouranos-ihm/src/main/ngapp/testem.log
ouranos-ihm/src/main/ngapp/typings

# e2e
ouranos-ihm/src/main/ngapp/e2e/*.js
ouranos-ihm/src/main/ngapp/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# Perso

# Maven
*/target/**
*/generated/**

# Eclipse
.settings/

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# Java binaire
.class
.jar

# sbteclipse plugin
.target

# sbteclipse plugin
.gitignore

# Intellij+iml

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Cursive Clojure plugin
.idea/replstate.xml

# Editor-based Rest Client
.idea/httpRequests

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr
