/*[-
#####################################################################################################
######################## Template velocity de satellitesVisible ######################################
#####################################################################################################
-]*/
{
"satellitesVisible":[
     [# th:each="satelliteTimeCoordinate, stcStatus : ${satellitesVisible}"]
        {
        "epochHeader":"[(${#temporals.format(satelliteTimeCoordinate.epochHeaderRecord, dateFormat)})]",
        "satellites": [
            [# th:each="satellite, sStatus : ${satelliteTimeCoordinate.satellites.entrySet()}"]
                {
                    "id":"[(${satellite.key})]",
                    "sphericalCoordinate":{
                        "radialDirection":[(${#numbers.formatDecimal(satellite.value.position.getRadiusDistance(),1,3,'POINT')})],
                        "longitude":[(${#numbers.formatDecimal(satellite.value.position.getAzimuth(),1,3,'POINT')})],
                        "latitude":[(${#numbers.formatDecimal(satellite.value.position.getInclination(),1,3,'POINT')})]
                    }
                } [# th:if="${!sStatus.last}"] , [/]
            [/]
        ] 
        } [# th:if="${!stcStatus.last}"] , [/]
    [/]
]
}
