#####################################################################################################
######################## Template velocity de satellitesVisible ######################################
#####################################################################################################
#set( $dateFormat = "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" )
{
"satellitesVisible":[
     #foreach($satelliteTimeCoordinate in $satellitesVisible)
        {
        "epochHeader":"$localDateTimeTool.format($satelliteTimeCoordinate.epochHeaderRecord, $dateFormat)",
        "satellites": [
            #foreach($satellite in $satelliteTimeCoordinate.satellites.entrySet())
                {
                    "id":"$satellite.key",
                    "sphericalCoordinate":{
                        "radialDirection":$satellitePositionTool.format($satellite.value.position.getRadiusDistance()),
                        "longitude":$satellitePositionTool.format($satellite.value.position.getAzimuth()),
                        "latitude":$satellitePositionTool.format($satellite.value.position.getInclination())
                    }
                } #if($foreach.hasNext ),#end
            #end
        ] 
        } #if($foreach.hasNext ),#end
    #end
]
}
