/*[-
#####################################################################################################
######################## Template velocity de satelitesVisible ######################################
#####################################################################################################
-]*/
<?xml version="1.0" encoding="UTF-8"?>
<satellitesVisible:satellitesVisible 
    xmlns:satellitesVisible="http://www.ouranos.fr/ouranos/response/visibleSatelite/v10/byPeriod"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    [# th:each="satelliteTimeCoordinate : ${satellitesVisible}"]
        <period>
            <epochHeader>[(${#temporals.format(satelliteTimeCoordinate.epochHeaderRecord, dateFormat)})]</epochHeader>
            <satellites>
                [# th:each="satellite : ${satelliteTimeCoordinate.satellites.entrySet()}"]
                    <satellite>
                        <id>[(${satellite.key})]</id>
                        <sphericalCoordinate>
                            <radialDirection>[(${#numbers.formatDecimal(satellite.value.position.getRadiusDistance(),1,3,'POINT')})]</radialDirection>
                            <longitude>[(${#numbers.formatDecimal(satellite.value.position.getAzimuth(),1,3,'POINT')})]</longitude>
                            <latitude>[(${#numbers.formatDecimal(satellite.value.position.getInclination(),1,3,'POINT')})]</latitude>
                        </sphericalCoordinate>
                    </satellite>
               [/]
            </satellites>
        </period>
    [/]
</satellitesVisible:satellitesVisible>