<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" align="center">Temporal and spatial parameters
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <label class="sr-only" for="startOfMeasure">Start time of measurement</label>
            <md-input-container class="col-sm-3">
                <input mdInput [(ngModel)]="startDate" [mdDatepicker]="datepickerStartTime" id="startOfMeasure" name="startOfMeasure" placeholder="Start time of measurement"
                    required>
                <button mdSuffix [mdDatepickerToggle]="datepickerStartTime"></button>
            </md-input-container>
            <md-datepicker #datepickerStartTime ></md-datepicker>
            <label class="sr-only" for="endOfMeasure">End time of measurement</label>
            <md-input-container class="col-sm-offset-1 col-sm-3">
                <input mdInput [(ngModel)]="endDate" [mdDatepicker]="datepickerEndTime" id="endOfMeasure" name="endOfMeasure" placeholder="End time of measurement"
                    required />
                <button mdSuffix [mdDatepickerToggle]="datepickerEndTime" ></button>
            </md-input-container>
            <md-datepicker #datepickerEndTime ></md-datepicker>
             <label class="sr-only" for="elevationMask">End time of measurement</label>
            <md-input-container class="col-sm-offset-1 col-sm-3">
                <input mdInput [(ngModel)]="elevationMask" id="elevationMask" name="elevationMask" placeholder="Elevation mask in degrees"
                    required />
            </md-input-container>
        </div>
    </div>
</div>