<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<display-name>Ouranos</display-name>
	<distributable />

	<!-- ======================================== Paramètres ======================================== -->

	<!-- <init-param> -->
	<!-- <param-name> -->
	<!-- javax.ws.rs.Application -->
	<!-- </param-name> -->
	<!-- <param-value> -->
	<!-- ApplicationSubclassName -->
	<!-- </param-value> -->
	<!-- </init-param> -->

	<!-- Contexte Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<!-- Nom du paramètre système qui va donner le nom du répertoire de configuration (par le service de paramétrage) -->
	<context-param>
		<param-name>app.conf.dir</param-name>
		<param-value>OURANOS_REST_API_CONF</param-value>
	</context-param>
	<!-- Nom du fichier de configuration utilise (par le service de paramétrage) -->
	<context-param>
		<param-name>app.conf.file</param-name>
		<param-value>ouranos-rest-api.properties</param-value>
	</context-param>

	<!-- ======================================== Servlets ======================================== -->

	<!-- Remarque : pas de InitialiserParametrageServlet, on utilise un StartupListener -->

	<!-- Servlets utilitaires -->
	<servlet>
		<servlet-name>aboutServlet</servlet-name>
		<servlet-class>fr.gnss.constellation.ouranos.api.resource.servlet.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>api-rest</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>fr.gnss.constellation.ouranos.api.resource;fr.gnss.constellation.ouranos.api.resource.exception;fr.gnss.constellation.ouranos.api.resource.filter</param-value>
		</init-param>
		<!-- Enable Tracing support. -->
		<init-param>
			<param-name>jersey.config.server.tracing</param-name>
			<param-value>ALL</param-value><!-- OFF on production -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- ======================================== Mapping des servlets ======================================== -->

	<servlet-mapping>
		<servlet-name>aboutServlet</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>api-rest</servlet-name>
		<url-pattern>/api-rest/*</url-pattern>
	</servlet-mapping>

	<!-- ======================================== Listeners ======================================== -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>