<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Ouranos</display-name>
	<distributable />

	<!-- ======================================== Paramètres ======================================== -->

	<!-- Contexte Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<!-- Nom du paramètre système qui va donner le nom du répertoire de configuration 
		(par le service de paramétrage) -->
	<context-param>
		<param-name>app.conf.dir</param-name>
		<param-value>OURANOS_REST_API_CONF</param-value>
	</context-param>
	<!-- Nom du fichier de configuration utilise (par le service de paramétrage) -->
	<context-param>
		<param-name>app.conf.file</param-name>
		<param-value>ouranos-rest-api.properties</param-value>
	</context-param>

	<!-- ======================================== Servlets ======================================== -->

	<!-- Remarque : pas de InitialiserParametrageServlet, on utilise un StartupListener -->

	<!-- Servlets utilitaires -->
	<servlet>
		<servlet-name>aboutServlet</servlet-name>
		<servlet-class>fr.gnss.constellation.ouranos.api.resource.servlet.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rest-ws</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- ======================================== Mapping des servlets ======================================== -->

	<servlet-mapping>
		<servlet-name>aboutServlet</servlet-name>
		<url-pattern>/ouranos/about</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rest-ws</servlet-name>
		<url-pattern>/ouranos/*</url-pattern>
	</servlet-mapping>

	<!-- ======================================== Listeners ======================================== -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>