/*[-
#####################################################################################################
######################## Template velocity de satellitesVisible ######################################
#####################################################################################################
-]*/
{
"satellitesVisible":[
     [# th:each="satelliteCoordinate, scStatus : ${satellitesVisible}"]
        {
        "id":"[(${satelliteCoordinate.getId()})]",
        "positions": [
            [# th:each="satellite, sStatus : ${satelliteCoordinate.satellites.entrySet()}"]
                {
                    "epochHeader":"[(${#temporals.format(satellite.key, dateFormat)})]",
                    "sphericalCoordinate":{
                        "radialDirection":[(${#numbers.formatDecimal(satellite.value.position.getRadiusDistance(),1,3,'POINT')})],
                        "longitude":[(${#numbers.formatDecimal(satellite.value.position.getAzimuth(),1,3,'POINT')})],
                        "latitude":[(${#numbers.formatDecimal(satellite.value.position.getInclination(),1,3,'POINT')})]
                    }
                } [# th:if="${!sStatus.last}"] , [/]
            [/]
        ]
        } [# th:if="${!scStatus.last}"] , [/]
    [/]
]
}
