#####################################################################################################
######################## Template velocity de satelitesVisible ######################################
#####################################################################################################
#set( $dateFormat = "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" )
<?xml version="1.0" encoding="UTF-8"?>
<satelitesVisibleCount>
    #foreach($sateliteTimeCoordinate in $satelitesVisible)
        <epochHeader>$localDateTimeTool.format($sateliteTimeCoordinate.epochHeaderRecord, $dateFormat)</epochHeader>
        <satelliteCount>$sateliteTimeCoordinate.satelites.size()</satelliteCount>
    #end
</satelitesVisibleCount>